<div class="layout">
	<mat-toolbar class="toolbar">
		<button
			mat-icon-button
			(click)="sideNav.toggle()"
		>
			@if (sideNav.opened) {
			<mat-icon>close</mat-icon>
			} @else {
			<mat-icon>menu</mat-icon>
			}
		</button>
		<span class="spacer"></span>
		<h1>Menu de Comidas</h1>
	</mat-toolbar>
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav
			#sideNav
			class="sidenav"
			[mode]="mobileQuery.matches ? 'over' : 'side'"
			[fixedInViewport]="mobileQuery.matches"
			fixedTopGap="56"
		></mat-sidenav>
		<mat-sidenav-content>
			<app-item-card></app-item-card>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
