<div class="layout">
	<mat-toolbar
		role="toolbar"
		class="toolbar"
	>
		@if(mobileQuery.matches) {
		<button
			mat-icon-button
			(click)="sideNav.toggle()"
		>
			@if (sideNav.opened) {
			<mat-icon>close</mat-icon>
			} @else {
			<mat-icon>menu</mat-icon>
			}
		</button>
		}
		<span class="spacer"></span>
		<h1>Menu de Comidas</h1>
	</mat-toolbar>
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav
			#sideNav
			class="sidenav"
			role="navigation"
			[mode]="mobileQuery.matches ? 'over' : 'side'"
		>
			<mat-list>
				@for (item of tabs; track $index) {
				<mat-list-item>{{ item }}</mat-list-item>
				}
			</mat-list>
		</mat-sidenav>
		<mat-sidenav-content role="main">
			@if(mobileQuery.matches) {
			<app-list [items]="itemList" />
			<footer style="text-align: center"><span>Awesome footer</span></footer>
			} @else {
			<app-tabs [tabs]="tabs" />
			}
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
